<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>ModMail</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="stylesheets/base.css">
	<link rel="stylesheet" href="stylesheets/skeleton.css">
	<link rel="stylesheet" href="stylesheets/layout.css">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>
<body>



	<!-- Primary Page Layout
	================================================== -->

	<!-- Delete everything in this .container and get started on your own site! -->

	<div class="container">
		<div class="sixteen columns">
			<h1 class="remove-bottom" style="margin-top: 40px">ModMail</h1>
			<h5>Because we could all use a second chance.</h5>
			<hr />
		</div>

  <div class="one-third column">
      <h3>What is it?</h3>
      <p>ModMail lets you send emails and edit the message later. <strong>Magic!</strong></p>
      <p>Anyone with a Gmail account can sign up and try it now.</p>
      <p><a href="#" class="full-width button" style="font-size:16px">Sign up now</a></p>
	</div>
	
		<div class="one-third column">
      <h3>How to use</h3>
			<ol>
        <li>Compose an email to <strong>send@modmail.cc</strong>.</li>
        <li>List your recepients on separate lines at the beginning of the body.</li>
        <li>Write your message. </li>
        <li>Send! </li>
			</ol>
      <p> You'll receive an email that you can use to edit the email that you just sent. Go crazy.</p>
		</div>
	
		<div class="one-third column">
      <h3>Example</h3>
      <img width="100%" height="auto" src="images/email.png">
		</div>

    <div id="footer" class="sixteen columns">
		  <hr />
      Made at hackNY Spring 2013 | <a href="mailto:bigmuffin13@gmail.com">bigmuffin13@gmail.com</a>
    </div>

	</div><!-- container -->


<!-- End Document
================================================== -->
</body>
</html>
